body {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
}

img#carruselphoto {
    height: 30rem !important;
}

div.carousel-caption {
    background-color: black !important;
    right: 0%;
    left: 0%;
    bottom: 0%;
    height: 3.5rem;
    opacity: 0.8;
    text-align: left;
    padding-left: 2rem;
}

.dot {
    height: 15px !important;
    width: 15px !important;
    margin: -5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    z-index: 1;
}
div.arqsection1 {
    padding-right: 4rem;
    text-align: justify;
}

div.arqsection2 {
    padding-left: 4rem;
    text-align: justify;
}
h1.maintitle {
    font-size: 1.5rem;
    color: #333;
}

h3.titulotexto {
    font-size: 0.75rem;
    color: #444;
}

h3.arqtexto {
    font-size: 0.75rem;
    color: #444;
}

div#card {
    width: 18rem; 
    height: 14rem;
}

div.proy-destacados-title {
        color: #666 !important;
        font-weight: 500;
}

p.text-destacados {
    color: #999 !important;
    font-weight: 400;
    font-size: 0.6rem;
    margin-top: auto;
    margin-bottom: auto;
}

img.img-destacada {
    border-radius: 0 !important;
    height: 8.614rem;
}

footer {
    background-color: #000000e6;
    height: 4rem;
    padding-left: 8rem !important;
    padding-top: 0.7rem;
    margin-top: 2rem;
}

h4.foot-title {
    font-size: 0.8rem;
    font-weight: 500;
    color: #666;
}

h5.foot-msg {
    font-size: 0.6rem;
    font-weight: 500;
    color: #666;
}
/*nosotros*/
img#slider2 {
    width: 100%;
    background-color: #000;
    height: 350px;
    overflow: hidden;
}

h2.titulo-nosotros {
    font-weight: 700;
    color: #666;
}

h3.subtitulo-nosotros {
    font-weight: 400;
    color: #999;
}
/*Portafolio*/
div.portf-header {
    background-color: #666;
    color:#fff;
}
li.item-portafolio {
    color: #666;
}

div.proy-portf {
    height: 3rem;
}

div.section-ports {
    width: 10rem;
    position: -webkit-sticky; 
    position: sticky;
    top: 20rem;
}

h2 {
    font-weight: 700;
    color: #666;
}
/*contacto*/
div.icons {
    position: relative;
    text-align: center;
}
svg {
    width: 5rem;
    height: 5rem;
    margin-right: 2rem;
    margin-left: 2rem;
    margin-bottom: 1rem;
    display: inline-block;
}

h4.contacto {
    font-weight: 400;
    color: #999;
    font-size: 1rem;
}